.col-lg-12
  .row.border-bottom#mobheader
    .col-md-1
      #mobnav(ng-show='header.bSubNavDisplayed')
        button.navbar-toggle(
          type='button',
          ng-init='header.navCollapsed = true',
          ng-click='header.navCollapsed = !header.navCollapsed; header.navBcCollapsed = true')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
      #mobnav(ng-show='!header.bSubNavDisplayed')
        button.navbar-toggle.disabled(type='button')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
    .col-md-11
      #mobbc
        .row.mob-bc-head
          ul
            li.bc-default-a
              a(
                ng-click='header.openView(header.topItem.name, header.topItem.params)',
                tooltip='{{header.topItem.tooltip}}',
                tooltip-append-to-body='true',
                tooltip-placement='bottom',
                ng-bind='header.topItem.label')
            li(ng-show='header.hasHistory')
              a
                i.fa.fa-chevron-down.font-inc-130(
                  ng-init='header.navBcCollapsed = true',
                  ng-click='header.navBcCollapsed = !header.navBcCollapsed; header.navCollapsed = true')

  .row#global
    .col-lg-12
      .row: banner-loader(theme='$stateParams.pid')
      .row.montserrat.pagenav-adjusted: bucketnav(states='header.navigatedStates')
    
