.container.project-editor
  .row
    .col-sm-11
      .row
        .col-sm-offset-2.col-sm-10
          .section
            .page-header
              h1(translate='projects.new')

      form.form-horizontal(name="form", novalidate)
        form-group(label-key='projects.new.name')
          input.form-control.input-md(
            name="name",
            placeholder="{{placeholderName}}",
            type="text",
            ng-model="projectProperties.name",
            ng-pattern="/^([a-zA-Z]+)$/",
            required)
            
        form-group(label-key='projects.metadata.title')
          input.form-control.input-md(
            name="title",
            placeholder="{{placeholderTitle}}",
            type="text",
            ng-model="projectProperties.title")

        form-group(label-key='projects.metadata.description')
          multilang-hallo-editor(
            ng-model='projectProperties.description', 
            languages='languages', 
            name='text')
            
        form-group-no-label
          button.btn.btn-default.btn-xs(
            type='button',
            ng-click='onSave()',
            tooltip="{{tooltipSave}}",
            tooltip-append-to-body="true",
            tooltip-placement="top",
            ng-disabled="form.$invalid")
            i.fa.fa-floppy-o: span(translate='projects.save')

          button.btn.btn-default.btn-xs(
            type='button',
            ng-click='onCancel()',
            tooltip="{{tooltipCancel}}",
            tooltip-append-to-body="true",
            tooltip-placement="top")
            i.fa.fa-times: span(translate='projects.cancel')

        
            
