.container-fluid
  .row(
    resize,
    bn-map-click='handleClick($event)',
    bn-map-mouseout='handleMouseout($event)',
    bn-map-mouseover='handleMouseover($event)')
    perfect-scrollbar(
      wheelPropagation='true',
      wheelSpeed='50',
      refresh-on-change='dimensions',
      style='white-space:pre-line;position:relative;overflow-y:hidden;overflow-x:hidden;width:100%;height:{{resizeHeight()}}px;')
      svg-include(ng-model='svg')
