my-fluid-container
  .row(
    my-loading-spinner='viewLoading',
    resize='',
    bn-map-click='handleClick( $event )',
    bn-map-mouseout='handleMouseout( $event )',
    bn-map-mouseover='handleMouseover( $event )')
    div.col-md-12(
      map,
      wheelPropagation='true',
      refresh-on-change='dimensions')
