.container
  .row(
    resize,
    bn-map-click='handleClick($event)',
    bn-map-mouseout='handleMouseout($event)',
    bn-map-mouseover='handleMouseover($event)')
    perfect-scrollbar(
      wheelPropagation='true',
      wheelSpeed='50',
      refresh-on-change='dimensions',
      style='white-space: pre-line;position: relative;overflow-y: hidden;width:100%;height:{{ resizeHeightWithOffset() }};')
      svg-include(ng-model='svg')
