.container.project.edit
  .row
    .col-sm-11
      .row
        .col-sm-offset-2.col-sm-10
          .section
            .page-header: h1(translate='projects.editargumentgraph')

      form.form-horizontal(name="form", novalidate)
        div: metadata-edit-tab(ng-model='metadata')

        form-group-no-label    
          button.btn.btn-default.btn-xs(
            type='button',
            ng-click='onSave()',
            tooltip="{{tooltipSave}}",
            tooltip-append-to-body="true",
            tooltip-placement="top",
            ng-disabled="form.$invalid")
            i.fa.fa-floppy-o: span(translate='projects.save')

          button.btn.btn-default.btn-xs(
            type='button',
            ng-click='onCancel()',
            tooltip="{{tooltipCancel}}",
            tooltip-append-to-body="true",
            tooltip-placement="top")
            i.fa.fa-times: span(translate='projects.cancel')
