.container.project.edit
  .row
    .col-sm-11
      .row
        .col-sm-offset-2.col-sm-10
          .section
            .page-header
              h1 {{'projects.edit' | translate}}

      form.form-horizontal(name="form", novalidate)
        form-group(label-key='projects.edit.name')
          .form-control-static
            span(style='font-family: monospace;font-weight:bold;') {{ data.id }}
            
        form-group(label-key='projects.metadata.title')
          input.form-control.input-md(
            name="title",
            placeholder="{{placeholderTitle}}",
            type="text",
            ng-model="data.title")

        form-group(label-key='projects.edit.policies')
          input.form-control.input-md(
            name="policy",
            placeholder="{{placeholderPolicy}}",
            type="text",
            ng-model="data.policies")

        form-group(label-key='projects.scheme')
          input.form-control.input-md(
            name="scheme",
            placeholder="{{placeholderScheme}}",
            type="text",
            ng-model="data.schemes")
          
        form-group(label-key='projects.description')
          tabset
            tab(ng-repeat="lang in languages", heading='{{lang[1]}}')
              hallo-editor(ng-model='data.description', lang='lang')
            
        form-group-no-label
          button.btn.btn-default.btn-xs(
            type='button',
            ng-click='onSave()',
            tooltip="{{tooltipSave}}",
            tooltip-append-to-body="true",
            tooltip-placement="top",
            ng-disabled="form.$invalid")
            i.fa.fa-floppy-o: span {{'projects.save' | translate}}

          button.btn.btn-default.btn-xs(
            type='button',
            ng-click='onCancel()',
            tooltip="{{tooltipCancel}}",
            tooltip-append-to-body="true",
            tooltip-placement="top")
            i.fa.fa-times: span {{'projects.cancel' | translate}}
