.col-lg-offset-1.col-lg-10.project
  .row
    .col-md-9(role='main')
      .section#overview
        .page-header
          .h1.highlight {{detail.project.title}}
          
      .commands
        button.btn.btn-default.btn-small(
          type='button',
          tooltip="{{detail.tooltipNew}}",
          tooltip-append-to-body="true",
          tooltip-placement="right",
          ng-click="detail.newArgumentGraph()")
          i.fa.fa-plus-square-o: span {{ 'projects.newag' | translate}}

        button.btn.btn-default.btn-small(
          type='button',
          ng-click='detail.getLink()')
          i.fa.fa-copy: span {{ 'projects.copylink' | translate}}

      .section#description
        markdown(strip='true',ng-model='detail.project.description')
