.container.argument-editor
  .row
    .col-sm-11
      .row
        .col-sm-offset-2.col-sm-10
          .section
            .page-header: h1(translate='projects.editargument')

      form.form-horizontal(name="form", novalidate)
        form-group
          tabset
            tab(heading='Model',select='showModel()')
            tab(heading='Metadata',select='showMetadata()')

        div(ng-show='tabModel')
          form-group(label-key='projects.pro')
            radio-buttons(model='argument.pro')
  
          form-group(label-key='projects.strict')
            radio-buttons(model='argument.strict')
          
          form-group(label-key='projects.weight')
            .col-sm-1
             .form-control-static: span(ng-bind='argument.weight')
            .col-sm-11(
              style='margin: 12px 0px 0px !important;',
              ui-slider,
              min='0.00',
              max='1.00',
              step='0.05',
              use-decimals,
              ng-model='argument.weight')
                    
          form-group(label-key='projects.scheme')
            input.form-control(
              type="text",
              ng-model="argument.scheme",
              placeholder="{{argument.scheme}}",
              typeahead="scheme.id as scheme.header.title for scheme in theory.schemes | filter:$viewValue",
              typeahead-input-formatter="getSchemeTitle($model)")
            form-group-source(
              label-key='projects.source',
              ng-repeat='s in theory.schemes | selectedById:argument.scheme')
              p.form-control-static(ng-bind='s.header.source')
                       
          form-group(label-key='projects.premises')
            premise-editor(
              model='p',
              statements='statements',
              on-delete="deletePremise(p)",
              ng-repeat="p in argument.premises")
            
            button.btn.btn-default.btn-xs(
              type='button',
              ng-click='addPremise()',
              tooltip="{{tooltipPremise}}",
              tooltip-append-to-body="true",
              tooltip-placement="top")
              i.fa.fa-plus: span(translate='projects.addpremise')

          form-group(label-key='projects.conclusion')
            input.form-control(type="text", ng-model="argument.conclusion",
              typeahead="statement.id as statement.text for statement in statements | filter:{text:$viewValue}",
              typeahead-input-formatter="getStatementText($model)",
              required)
            form-group-source(
              label-key='projects.fulltext',
              ng-repeat='s in statements | selectedById:argument.conclusion')
              p.form-control-static(ng-bind='s.text')

        div(ng-show='tabMetadata')
          metadata-edit-tab(ng-model='argument.header')

        form-group-no-label
          button.btn.btn-default.btn-xs(
            type='button',
            ng-click='onSave()',
            tooltip="{{tooltipSave}}",
            tooltip-append-to-body="true",
            tooltip-placement="top",
            ng-disabled="form.$invalid")
            i.fa.fa-floppy-o: span(translate='projects.save')

          button.btn.btn-default.btn-xs(
            type='button',
            ng-click='onCancel()', 
            tooltip="{{tooltipCancel}}",
            tooltip-append-to-body="true", 
            tooltip-placement="top")
            i.fa.fa-times: span(translate='projects.cancel')
