.container.argument.view
  .row
    .col-sm-11
      .row
        .col-sm-offset-2.col-sm-10
          .section
            .page-header
              h1(
                evaluation-indicator,
                value='argument.value',
                size='32x32',
                position='before')
                span(translate='projects.argument')
          
      form.form-horizontal
        form-group
          .commands
            button.btn.btn-default.btn-small(
              type='button',
              tooltip="{{tooltipEdit}}",
              tooltip-append-to-body="true",
              tooltip-placement="right",
              ng-click="edit()")
              i.fa.fa-edit
                span(translate='state.home.projects.project.arguments.argument.edit.label')

        form-group
          tabset
            tab(
              heading='Model',
              select='showModel()')
            tab(
              heading='Metadata',
              select='showMetadata()',
              ng-show='isMapInitialized(argument.header)')
        div(ng-show='tabModel')
          form-group(
            label-key='projects.argument.formalization',
            ng-hide='argument.premises.length == 0')
            .form-control-static
              .premises-indication(translate='projects.premises_text')
              ul(ng-repeat='p in argument.premises')
                li
                  span(ng-hide="p.role == ''", ng-bind='p.role')
                  span(ng-show="!p.positive")
                    span(translate='projects.negative_premise')
                  a(ng-click='openStatement(p.id)', ng-bind='p.text')
      
              .conclusion-indication(ng-bind='conclusion_text')
              a.conclusion-text(
                ng-click='openStatement(argument.conclusion.id)',
                ng-bind='argument.conclusion.text')

          form-group(label-key='projects.argument.properties')
            properties(keys="[['valueText', 'projects.value'],['scheme', 'projects.scheme'],['strict', 'projects.strict'],['weight', 'projects.weight'],['id', 'projects.id']]",model='argument')
            
        div(ng-show='tabMetadata')
          form-group(
            ng-repeat="(k,v) in argument.header",
            label-key='projects.{{k}}',
            ng-show="v != null && k != 'description'")
            .form-control-static
              markdown(extensions='carneades',ng-model='v')
          form-group(label-key='projects.description',ng-show="argument.header.description")
            .form-control-static
              markdown(extensions='carneades',ng-model='argument.header.description')
