.container.argument.view
  .row
    .col-sm-11
      .row
        .col-sm-offset-2.col-sm-10
          .section
            .page-header
              h1(
                evaluation-indicator,
                value='argument.value',
                size='32x32',
                position='after') {{'projects.argument' | translate}}
          
      form.form-horizontal
        form-group
          button.btn.btn-default.btn-small(
            type='button',
            tooltip="{{tooltipEdit}}",
            tooltip-append-to-body="true",
            tooltip-placement="right",
            ng-click="edit()")
            i.fa.fa-edit: span edit

        form-group
          tabset
            tab(
              heading='Model',
              select='showModel()')
            tab(
              heading='Metadata',
              select='showMetadata()',
              ng-show='isMapInitialized(argument.header)')
        div(ng-show='tabModel')
          form-group(
            label-key='projects.argument.formalization',
            ng-hide='argument.premises.length == 0')
            .form-control-static
              .premises-indication {{'projects.premises_text' | translate}}
              ul(ng-repeat='p in argument.premises')
                li
                  span(ng-hide="p.role == ''") {{p.role}}.
                  span(ng-show="!p.positive")
                    span {{'projects.negative_premise' | translate}}
                  a(ng-click='openStatement(p.id)') {{p.text}}
      
              .conclusion-indication {{conclusion_text}}
              a.conclusion-text(ng-click='openStatement(argument.conclusion.id)') {{argument.conclusion.text}}

          form-group(label-key='projects.argument.properties')
            properties(keys="[['valueText', 'projects.value'],['scheme', 'projects.scheme'],['strict', 'projects.strict'],['weight', 'projects.weight'],['id', 'projects.id']]",model='argument')
            
        div(ng-show='tabMetadata')
          form-group(ng-repeat="(k,v) in argument.header",label-key='projects.{{k}}',ng-show="v != null && k != 'description'")
            .form-control-static
              markdown(extensions='carneades',ng-model='v')
          form-group(label-key='projects.description',ng-show="argument.header.description")
            .form-control-static
              markdown(extensions='carneades',ng-model='argument.header.description')
