h2 {{title}}

.section#commands
  button.btn.btn-default.btn-small(
    type='button',
    tooltip="{{'tooltip.legalprofile.edit' | translate}}",
    tooltip-append-to-body="true",
    tooltip-placement="right", 
    ng-click="edit()")
    i.fa.fa-edit: span {{'projects.edit' | translate}}
  
  button.btn.btn-default.btn-small(
    type='button',
    tooltip="{{'tooltip.legalprofile.delete' | translate}}",
    tooltip-append-to-body="true",
    tooltip-placement="right",
    ng-click="delete()")
    i.fa.fa-delete: span {{'projects.delete' | translate}}

div
  {{'projects.legalprofile.default' | translate}}: {{legalprofile.default}}

ul
  li(ng-repeat='scheme in section.schemes')
    a(ui-sref='home.projects.project.legalprofiles.legalprofile.edit({pid: $stateParams.pid, scrollTo: scheme.id})', ng-class="{'schemeOut': isSchemeOut(legalprofile, scheme), 'schemeIn': isSchemeIn(legalprofile, scheme), 'schemeUndecided': isSchemeUndecided(legalprofile, scheme)}") {{scheme.header.title}}
ul
  li(ng-repeat='section in section.sections','ng-include'="'projects/project/legalprofiles/legalprofile/legalprofile-subtoc.jade'")
