.col-lg-offset-1.col-lg-10.outline
  .row
    .col-md-12
      #overview: .page-header: h1(ng-bind='project.title')

  .row
    .col-md-12(role='main')
      .commands
        a(ui-sref='home.projects.project.edit($stateParams)')
          button.btn.btn-default.btn-small(
            type='button',
            tooltip="{{tooltipEdit}}",
            tooltip-append-to-body="true",
            tooltip-placement="top")
            i.fa.fa-edit: span(translate='state.home.projects.project.edit.label')

        a(ui-sref='home.projects.project.statements.new($stateParams)')
          button.btn.btn-default.btn-small(
            type='button',
            tooltip="{{tooltipNewStatement}}" ,
            ooltip-append-to-body="true",
            tooltip-placement="top")
            i.fa.fa-plus-square-o: span(translate='state.home.projects.project.statements.new.label')

        a(ui-sref='home.projects.project.arguments.new($stateParams)')
          button.btn.btn-default.btn-small(
            type='button',
            tooltip="{{tooltipNewArgument}}",
            tooltip-append-to-body="true",
            tooltip-placement="top")
            i.fa.fa-plus-square-o: span(translate='state.home.projects.project.arguments.new.label')

        button.btn.btn-default.btn-small(
          type='button',
          tooltip="{{tooltipShare}}",
          tooltip-append-to-body="true",
          tooltip-placement="top",
          ng-click="onShare()")
          i.fa.fa-plus-square-o: span(translate='projects.share')

         
      #share(ng-show="isSharing")
        div
          button.markos(type='button', ng-click='shareOnMarkos()')
          button.twitter(type='button', ng-click='shareOnTwitter()')

        .shareInput
          input(type='text', value="{{currentUrl}}", readonly)

  .row
    .col-md-12(role='main')
      #description
        markdown(
          strip='true',
          ng-model='project.description')

  .row
    .col-md-12(role='main')
      #issues(ui-view='issues')

  .row
    .col-md-12(role='main')
      #outline(ui-view='outline')

  .row
    .col-md-12(role='main')
      #references(ui-view='references')
