.container.outline
  .row
    .col-md-12(role='main')
      #overview: .page-header: h1(ng-bind='project.title')

      .commands
        a(ui-sref='home.projects.project.edit($stateParams)')
          button.btn.btn-default.btn-small(
            type='button',
            tooltip="{{tooltipEdit}}",
            tooltip-append-to-body="true",
            tooltip-placement="top")
            i.fa.fa-edit: span(translate='state.home.projects.project.edit.label')

        a(ui-sref='home.projects.project.statements.new($stateParams)')
          button.btn.btn-default.btn-small(
            type='button',
            tooltip="{{tooltipNewStatement}}" ,
            ooltip-append-to-body="true",
            tooltip-placement="top")
            i.fa.fa-plus-square-o: span(translate='state.home.projects.project.statements.new.label')

        a(ui-sref='home.projects.project.arguments.new($stateParams)')
          button.btn.btn-default.btn-small(
            type='button',
            tooltip="{{tooltipNewArgument}}",
            tooltip-append-to-body="true",
            tooltip-placement="top")
            i.fa.fa-plus-square-o: span(translate='state.home.projects.project.arguments.new.label')
          
      #description
        markdown(
          strip='true',
          ng-model='project.description')

      #issues(ui-view='issues')

      #outline(ui-view='outline')

      #references(ui-view='references')
