.col-lg-offset-1.col-lg-10.outline
  .row
    .col-md-12
      #overview: .page-header: h1(ng-bind='outline.project.title')

  .row
    .col-md-12(role='main')
      .commands
        a(ng-click='outline.openMetadataEditor()')
          button.btn.btn-default.btn-small(
            type='button',
            tooltip="{{outline.tooltipEdit}}",
            tooltip-append-to-body="true",
            tooltip-placement="top")
            i.fa.fa-edit: span(translate='state.home.projects.project.edit.label')

        a(ng-click='outline.openStatementEditor()')
          button.btn.btn-default.btn-small(
            type='button',
            tooltip="{{outline.tooltipNewStatement}}" ,
            ooltip-append-to-body="true",
            tooltip-placement="top")
            i.fa.fa-plus-square-o: span(translate='state.home.projects.project.statements.new.label')

        a(ng-click='outline.openArgumentEditor()')
          button.btn.btn-default.btn-small(
            type='button',
            tooltip="{{outline.tooltipNewArgument}}",
            tooltip-append-to-body="true",
            tooltip-placement="top")
            i.fa.fa-plus-square-o: span(translate='state.home.projects.project.arguments.new.label')

        button.btn.btn-default.btn-small(
          type='button',
          tooltip="{{outline.tooltipShare}}",
          tooltip-append-to-body="true",
          tooltip-placement="top",
          ng-click="outline.onShare()")
          i.fa.fa-plus-square-o: span(translate='projects.share')

         
      #share(ng-show="isSharing")
        div
          button.markos(type='button', ng-click='outline.shareOnMarkos()')
          button.twitter(type='button', ng-click='outline.shareOnTwitter()')

        .shareInput
          input(type='text', value="{{outline.currentUrl}}", readonly)

  .row
    .col-md-12(role='main')
      #description
        markdown(
          strip='true',
          ng-model='outline.project.description')

  .row
    .col-md-12(role='main')
      #issues(ui-view='issues')

  .row
    .col-md-12(role='main')
      #outline(ui-view='outline')

  .row
    .col-md-12(role='main')
      #references(ui-view='references')
