.container.outline
  .row
    .col-md-12(role='main')
      .section#overview
        .page-header: h1(ng-bind='project.title')

      .section#commands
        button.btn.btn-default.btn-small(
          type='button',
          ng-click='openOutlineEditor()',
          tooltip="{{tooltipEdit}}",
          tooltip-append-to-body="true",
          tooltip-placement="top")
          i.fa.fa-edit: span(translate='state.home.projects.project.edit.label')

        button.btn.btn-default.btn-small(
          type='button',
          ng-click='openStatementEditor()',
          tooltip="{{tooltipNewStatement}}" ,
          ooltip-append-to-body="true",
          tooltip-placement="top")
          i.fa.fa-plus-square-o: span(translate='state.home.projects.project.statements.new.label')

        button.btn.btn-default.btn-small(
          type='button',
          ng-click='openArgumentEditor()',
          tooltip="{{tooltipNewArgument}}",
          tooltip-append-to-body="true",
          tooltip-placement="top")
          i.fa.fa-plus-square-o: span(translate='state.home.projects.project.arguments.new.label')
          
      .section#description
        markdown(strip='true',ng-model='project.description')

      .section#issues(ui-view='issues')

      .section#outline(ui-view='outline')

      .section#references(ui-view='references')
