.editor-panel(
  hallo="{toolbar:'halloToolbarFixed',plugins:{'halloformat':{'bold':true},'halloheadings':{},'halloreundo':{},'hallolists':{},'halloindicator':{}}}",
  ng-model='ngModel[lang[0]]',
  name='{{name}}_{{lang[0]}}',
  id='{{name}}_{{lang[0]}}',
  ng-bind='ngModel[lang[0]]',
  style='min-height:150px;')
