.row.form-group
  .col-lg-6
    .row
      label.control-label.col-sm-1.col-lg-2(
        ng-bind="'projects.positive' | translate | capitalize:'first'")
      .col-sm-offset-1.col-sm-4.col-lg-offset-0.col-lg-4
        radio-buttons(model='model.positive')

      label.control-label.col-sm-1.col-lg-2(
        ng-bind="'projects.implicit' | translate | capitalize:'first'")
      .col-sm-offset-1.col-sm-4.col-lg-offset-0.col-lg-4
        radio-buttons(model='model.implicit')
        
  .col-lg-6
    .row
      label.control-label.col-lg-2(
        ng-bind="'projects.role' | translate | capitalize:'first'")
      .col-lg-10
        input.form-control.input-md(
          name='role',
          type='text',
          ng-model='model.role',
          placeholder='set the role',
          style='width:100%;')

.row.form-group
  label.control-label.col-lg-1(
    ng-bind="'projects.statement' | translate | capitalize:'first'")
  .col-lg-11
    input.form-control(
      type="text",
      ng-model="model.statement.id",
      typeahead="statement.id as statement.text for statement in statements | filter:{text:$viewValue}",
      typeahead-input-formatter="formatStatement($model)",
      required)
    form-group-source(
      label-key='projects.fulltext',
      ng-repeat='s in statements | selectedById:model.statement.id')
      p.form-control-static(ng-bind='s.text')
            
.row.form-group
  .col-lg-offset-1.col-lg-11
    button.btn.btn-default.btn-xs(
      type='button',
      ng-click='onDeletePremise()',
      tooltip="Remove this premise",
      tooltip-append-to-body="true",
      tooltip-placement="top")
      i.fa.fa-times: span(translate='projects.premise.remove')
    
.row(style='border: 1px solid; margin-bottom: 15px;')
