.properties
  table.table.table-striped
    tr.block(ng-repeat='k in keys')
      td.object-key {{k[1] | translate}}
      td.object-value
        span(
          ng-switch='',
          on='typeOfDisplay(k[0], model[k[0]])')
          span(ng-switch-when='formalizedScheme')
            a(ui-sref='home.projects.project.theory({tpid: schemesProject, tid: schemesName, scrollTo: model[k[0]].id})') {{model[k[0]].header.title}}
          span(
            ng-switch-when='unformalizedScheme',
            ng-bind='model[k[0]].header.title')
          span(
            ng-switch-when='standard',
            ng-bind='standardName(model[k[0]])')
          span(
            ng-switch-default='',
            ng-bind='model[k[0]]')
