div.btn-group
  button.btn.btn-default(
    type='button',
    ng-class='{active: model == true}',
    ng-click='activate(true)',
    ng-bind="'projects.true' | translate | capitalize:'first'")
  button.btn.btn-default(
    type='button',
    ng-class='{active: model == false}',
    ng-click='activate(false)',
    ng-bind="'projects.false' | translate | capitalize:'first'")
