.container.legalprofiles
  .row
    .col-sm-11
          .section
            .page-header
              h1 {{ 'projects.legalprofiles' | translate }}
              div
                button.btn.btn-default.btn-small(
                  type='button',
                  tooltip="{{'tooltip.legalprofile.new' | translate}}",
                  tooltip-append-to-body="true",
                  tooltip-placement="right", 
                  ng-click="new()")
                  i.fa.fa-edit: span {{'projects.legalprofile.new' | translate}}
              br
              div
                table.table.table-striped
                  tr(ng-repeat='l in legalprofiles')
                    td
                      a(ui-sref='home.projects.project.legalprofiles.legalprofile({pid: $stateParams.pid, db: $stateParams.db, lpid: l.id})')
                        {{l.metadata.title}}
